body{
background-size: cover;
background-position: center;    
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status,#objectdetected,#start_model
{
font-size: 18px;
}

canvas{
    box-shadow: 10px 10px 10px blue;
    border-radius: 10px;
    margin-top: 50px;
}
